body {
    font-family: Poppins,sans-serif;
    min-height: 100vh;
}

body.has-footer-fixed-bottom, html.has-footer-fixed-bottom {
    padding-bottom: 3.25rem;
}

footer {
    min-width: 3.25rem;
    padding: 1.0rem !important;
}

.footer.is-fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
}

input[type=checkbox], input[type=radio] {
    height: 2.5em;
    width: 1.5em;
}

/* BEGIN - fixed table header */
tbody tr td {
    vertical-align: middle !important;
}

.table-has-fixed-header {
    overflow: auto;
}

/* If we use border,
    we must use table-collapse to avoid
    a slight movement of the header row */
.table-has-fixed-header table {
    border-collapse: collapse;
}

/* Because we must set sticky on th,
    we have to apply background styles here
    rather than on thead */
.table-has-fixed-header th {
    background: white;
}

/* Set header to stick to the top of the container. */
.table-has-fixed-header thead tr th {
    position: sticky;
    top: 0;
}
/* END - fixed table header */

/* BEGIN - side navbar */
aside.has-sidebar,
main.has-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: left 1s ease-in-out;
}

aside.has-sidebar {
    left: 0;
}

main.has-sidebar {
    left: 250px;
    right: 0;
    overflow-y: auto;
}

aside.is-sidebar-hidden {
    left: -250px !important;
    transition: left 1s ease-in-out;
}

main.is-sidebar-hidden {
    left: 0 !important;
    transition: left 1s ease-in-out;
}
/* END side navbar */