<table id="user-search-table" class="table is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="p-2 has-text-link is-underlined is-clickable" scope="col">Name</th>
            <th class="p-2 has-text-link is-underlined is-clickable" scope="col">Email</th>
            <th class="p-2 has-text-link" scope="col">Type</th>
            <th class="p-2 has-text-link" scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        ${SearchResults}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="p-4 has-text-centered">
                ${TotalCount} users found | showing page ${Page} of ${TotalPages}
            </th>
        </tr>
    </tfoot>
</table>