<table id="user-search-table" class="table is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th colspan="4" class="pb-3">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <div>${SearchResultSummary}</div>

                    <div class="is-flex is-justify-content-right">
                        <button class="button is-small" type="button" ${PreviousButtonDisabled}
                                hx-get="/User/Search"
                                hx-include="#user-search-form"
                                hx-vals='{"page": "${PreviousPage}"}'>
                            <span class="material-icons is-small"><i>navigate_before</i></span>
                            <span class="is-sr-only">Previous</span>
                        </button>
                        <button class="button is-small mx-1" type="button" ${NextButtonDisabled}
                                hx-get="/User/Search"
                                hx-include="#user-search-form"
                                hx-vals='{"page": "${NextPage}"}'>
                            <span class="material-icons is-small"><i>navigate_next</i></span>
                            <span class="is-sr-only">Next</span>
                        </button>
                        <button class="button is-small"
                                type="button">
                            <span class="material-icons is-small"><i>add</i></span>
                            <span class="is-sr-only">New User</span>
                        </button>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th class="p-2" scope="col">Display Name</th>
            <th class="p-2" scope="col">Email Address</th>
            <th class="p-2" scope="col">Type</th>
            <th class="p-2" scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        ${SearchResults}
    </tbody>
</table>