<section hx-target="#user-search-table" hx-swap="outerHTML" hx-push-url="true">
    <h3 class="block is-size-3 has-text-weight-semibold">Users</h3>
    <div class="box">
        <div class="columns">
            <div class="column">
                <form id="user-search-form" class="columns"
                      hx-trigger="load"
                      hx-get="/User/Search">
                    <div class="column">
                        <div class="control">
                            <input class="input " name="search"
                                   hx-trigger="keyup changed delay:500ms, search"
                                   hx-get="/User/Search"
                                   hx-include="#user-search-form"
                                   hx-vals='{"page": "1"}'
                                   hx-indicator=".htmx-indicator"
                                   placeholder="Begin typing to search users...">
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="is-flex is-align-items-center">
                            <input id="active-only" name="active-only" type="checkbox" value="true"
                                   hx-get="/User/Search"
                                   hx-include="#user-search-form"
                                   hx-vals='{"page": "1"}'
                                   class="is-clickable ml-2">
                            <label class="is-clickable mx-2 has-text-weight-semibold"
                                   for="active-only">Active Only</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="table-container table-has-fixed-header">
            <table id="user-search-table" class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th class="p-2" scope="col">Display Name</th>
                        <th class="p-2" scope="col">Email Address</th>
                        <th class="p-2" scope="col">Type</th>
                        <th class="p-2" scope="col">Active</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>