<table id="user-search-table" class="table is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th class="p-2 has-text-link is-underlined is-clickable" scope="col">Name</th>
            <th class="p-2 has-text-link is-underlined is-clickable" scope="col">Email</th>
            <th class="p-2 has-text-link" scope="col">Type</th>
            <th class="p-2 has-text-link" scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        ${SearchResults}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="py-4">
                <div class="is-flex is-justify-content-space-between">
                    <div>${SearchResultSummary}</div>

                    <div class="is-flex is-justify-content-right">
                        <button class="button is-small" type="button" ${PreviousButtonDisabled}
                                hx-get="/Home/Search"
                                hx-include="#user-search-form"
                                hx-vals='{"page": "${PreviousPage}"}'>
                            <span class="material-icons is-small"><i>navigate_before</i></span>
                            <span class="is-sr-only">Previous</span>
                        </button>
                        <button class="button is-small mx-1" type="button" ${NextButtonDisabled}
                                hx-get="/Home/Search"
                                hx-include="#user-search-form"
                                hx-vals='{"page": "${NextPage}"}'>
                            <span class="material-icons is-small"><i>navigate_next</i></span>
                            <span class="is-sr-only">Next</span>
                        </button>
                        <button class="button is-small"
                                type="button">
                            <span class="material-icons is-small"><i>add</i></span>
                            <span class="is-sr-only">New User</span>
                        </button>
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>